<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Macsue Car Inspections</h5>
        <p>Your trusted partner for comprehensive second-hand car inspections.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/services" class="text-white">Services</a></li>
          <li><a routerLink="/contact" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Info</h5>
        <p><i class="fas fa-map-marker-alt"></i> Joska, Machakos, Kenya</p>
        <p><i class="fas fa-phone"></i> (+254) 712 256 004</p>
        <p><i class="fas fa-envelope"></i> info@macsueinspections.com</p>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; {{ currentYear }} Macsue Car Inspections. All rights reserved.</p>
    </div>
  </div>
</footer>